/* pa custom */

  :root, body {
    padding: 0;
    margin: 0;
  }

  /* override since our window is not necessarily golden ratio dimensions */

  .golden {
    padding-bottom: 0;
    max-height: 100vh;
    height: 100vh;
    position: relative;
  }

  nav.workspace > article {
    flex-grow: 1;
  }

  nav.workspace > article > main {
    max-height: 100%;
    overflow-y: auto;
    position: relative;
    padding: 0;
  }

  nav.workspace > aside {
    max-height: 100%;
    overflow-y: auto;
    padding: 0;
    width: 420px;
    flex-grow: 0;
  }


  /*
  * {
    outline: 1px solid lime;
  }
  */

/* custom test */

  nav.tabs,
  nav.tabs > ul,
  nav.tabs article.tab,
  nav.tabs article.tab form,
  nav.tabs article.tab form {
    margin: 0;
    width: 90%;
  }

  nav.tabs article.tab p {
    width: 100%;
  }

  nav.workspace article footer {
    flex-basis: 100%;
  }


/* components webview */

  webview {
    border: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
