:root {
  font-size: 10pt;
}

/* font & theme */

  *:not(.busy) {
    font-family: Arial;
    /*
    background: rgba(200,200,200,0.2);
    */
  }
  /*
  *:not(li):not(p):not(h1):not(h2):not(a):not(.busy) {
    outline: 1px solid grey;
  }
  */

/* special colors */


  label:empty {
    outline:none !important;
    background: transparent;
  }

  fieldset > legend, .fieldset > .legend {
    background-color: var(--main-bg) !important;
  }

  li > a:hover{
    color: var(--main-bg);
    background: lime;
  }
